[Unit]
Description=Resposta ao insucesso de entrega - Freshlog
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/stokki-eventos/resposta_insucesso
ExecStart=/opt/stokki-eventos/venv/bin/waitress-serve --host=127.0.0.1 --port=8072 app:app
Restart=on-failure
RestartSec=5
User=www-data

[Install]
WantedBy=multi-user.target
